body {
  margin: 0;
  min-width: 320px;
  font-family: "Avenir Next", "Gill Sans", "Trebuchet MS", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", monospace;
}
